.section-1 
	.tiny-scrollmation {
		background-image: url("../images/xu6118472taichi_practitioners-lr_db21cbl.jpg");
	}

.section-2 
	.section-title {
		background-image: url("../images/an26a8-mr.jpg");
	}
.section-2 .section-lead-in {
		background-image: url("../images/xu6244782general_economy_image-mr.jpg");		
	}

.section-3 
	.section-title {
		background-image: url("../images/blinky-5-hr_trwu830.png");}
.section-3 .section-lead-in {
		background-image: url("../images/ma_jong_ab_1398-hr.jpg");
	}
.section-3 .tiny-scrollmation {
		background-image: url("../images/_ab_0686-hr_rt3kgtj.jpg");
	}

.story-footer {
	background-image: url("../images/xu5239503the_sun_rises_behind-mr.jpg");
}
.credits 
	.tiny-scrollmation {
		background-image: url("../images/bar_pic140510034_high_res_-hr_lm1svfb.jpg");
	}