.section-1 
	.tiny-scrollmation {
		background-image: url("../images/xu6118472taichi_practitioners-lr_db21cbl.jpg");
	}

.section-2 
	.section-title {
		background-image: url("../images/kid.jpg");
	}
.section-2 .section-lead-in {
		background-image: url("../images/stock2.jpg");		
	}

.section-3 
	.section-title {
		background-image: url("../images/steamTrain.jpg");}
.section-3 .section-lead-in {
		background-image: url("../images/steel.jpg");
	}
.section-3 .tiny-scrollmation {
		background-image: url("../images/stock2.jpg");
	}

.story-footer {
	background-image: url("../images/china_1.jpg");
}
.credits 
	.tiny-scrollmation {
		background-image: url("../images/china_1.jpg");
	}