/*footer*/
.footer {
	background-color: #F6E9D8;
	text-align: center;
}
.footer-nav-list {
	list-style: none;
	li {
		display: inline;
	}
}
.footer-nav {
	padding-top: 1em;
}
.footer-copyright {
	padding-bottom: 1em;
}