@media only screen and (max-width: 768px) {
	.share-links {
		display: none;
	}
	.small-menu {
		display: block;
		position: absolute;
		top: 15px;
		right: 15px;
		width: 30px;
		height: 30px;
		background: sassvg(hamburger, $fillcolor: $white);
        background-position: center center;
        background-repeat: no-repeat;
		background-size: contain;
	}
	.toc-nav {
		position: fixed;
		top: $headerHeight;
		left: auto;
		right: 0;
		width: 30%;
		transform: none;	
		background-color: rgba(51, 51, 51,0.8);
		box-shadow: inset 0 1px 0 rgba(0,0,0,0.2);
		padding: 10 0;
		a {
			display: block;
			padding: 0 15px;
			color: #fff;
			line-height: 60px;
			border-bottom: 1px solid rgba(0, 0, 0, .2);
			&::before {
				content: '第';
			}
			&::after {
				content: '部分';
			}
		}
	}
	.hide {
		display: none;
	}
/* end of header */

    .text-over-media {
      color: $white;
        h1 {
            font-size: 34px;
            line-height: 1.5;
        }
        h2 {
            font-size: 24px
        }
        p {
            font-size: 20px;
        }
    }     
    .two-column-grid {
        height: 100%;
       .primary-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
        }
        .primary-column {
            position: relative;
            margin: 0;
            padding: 20px;
            .aside-wrapper {
                position: relative;
                top: auto;
                right: auto;
                width: auto;
            }
            .aside {
                padding: 0px;
            }
        }
    }
    .scrollmation-background {
        .primary-column {  
            padding: 20px;

        }
    }
    .tiny-scrollmation {
        position: relative;
        height: 467px;
        max-height: 500px;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -1px;
            right: 0;
            height: 25%;
            background: linear-gradient(to bottom, rgba(0,0,0,0), #000) repeat left top;
        }
    }

}

@media only screen and (max-width: 743px) {

	.series-title {
		display: none;
	}
    .story-header .text-wrapper {
        transform: none;
        position: relative;
        width: auto;
        top: 200px;
        left: auto;
    }
}